<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Crear usuario</h1>
      <span class="line"></span>
      <hr>
      <%= render 'users/form' %>
    </div>
  </div>
</div>