<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= link_to "Regresar a los posts", posts_path, class: "btn btn-primary pull-right top_buttons" %>
      <h1>Categorías y Hashtags</h1>
      <span class="line"></span>
      <hr>
      <div id="tag_cloud" class="row">
        <div class="col-md-10 col-sm-10 col-xs-10" id="tags_div">
          <% @tags.each do |tag| %>
          <button class="btn btn-sm btn-default btn_tags">
            <%= "#{tag.name} (#{tag.taggings_count}) " %>
            <%= link_to "X", tag_path(tag), method: :delete,
            data: { confirm: "¿Estás seguro de borrar '#{tag.name}'?" }, :class => "delete_tag" %>
          </button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
