<% provide(:title, "Editar categoría #{@category.unhyphen_name}") %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= link_to "Volver a la categoría", category_path, 
      class: "btn btn-primary pull-right edit-btn-margin-left top_buttons" %>
      <h1>Editar categoría "<%= @category.name.gsub("-"," ") %>"</h1>
      <span class="line"></span>
      <hr>
      <%= render 'categories/form' %>
    </div>
  </div>
</div>