<% provide(:title, "Categorias") %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= link_to "Crear categoría", new_category_path, 
      class: "btn btn-primary pull-right edit-btn-margin-left top_buttons" %>
      <h1>Estas son las categorías que hay</h1>
      <span class="line"></span>
      <hr>
      <%= btn_color(@categories).html_safe %>
    </div>
  </div>
</div>