<% provide(:title, "#{@category.name.gsub("-"," ")}") %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= link_to "Volver a los posts", posts_path, 
      class: "btn btn-primary pull-right edit-btn-margin-left top_buttons" %>
      <%= link_to "Editar", edit_category_path(@category), 
      class: "btn btn-warning pull-right edit-btn-margin-left top_buttons" %>
      <h1><%= @category.name.gsub("-"," ") %></h1>
      <span class="line"></span>
      <hr>
      <%# TODO falta hacer un each con todos los posts de esta categoria %>
    </div>
  </div>
</div>
