%footer.footer
  .container
    .row
      .col-md-4
        %br
        %h4.title deceroatres.org
        %span.line
        %hr
        %p
          Es un espacio de aprendizaje sobre el desarrollo de nuestros hijos, desde el embarazo hasta los tres años, con el fin de fortalecer sus capacidades y la posibilidad de incidir en un futuro esperanzador.
        %br
        %center
          %a.btn.btn-primary{href: "http://deceroatres.org/mapa-del-sitio/", target: "_blank"} Mapa del Sitio
      .col-md-4
        %br
        %h4.title ¿Por qué De Cero a Tres?
        %span.line
        %hr
        %center
          %iframe{allowfullscreen: "", frameborder: "0", height: "197", src: "https://www.youtube.com/embed/c5r8CWGRMlQ", width: "300"}
      .col-md-4
        %br
        %h4.title Instituciones Aliadas
        %span.line
        %hr
        %center
          %a.btn.color{href: "http://www.proyectodei.org/", target: "_blank"}
            %img{src: "http://deceroatres.org/wp-content/uploads/2015/10/Captura-de-pantalla-2015-09-29-a-las-10.15.45.png", style: "width:120px; height:95px;"}/
          %br
          %br
          %a.btn.btn-primary{href: "http://deceroatres.org/empresas-y-fundaciones-aliadas/", target: "_blank"} Empresas aliadas
    %hr
    .row
      .col-md-6
        %span.copyright Dirección: Santa Rita # 213, Col. Loma del Padre, Del. Cuajimalpa, C.P. 05020, México D.F.
        %span.copyright Tel: +52 (55) 5813 0386 Mail: contacto@deceroatres.com