<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <br>
        <h4 class="title">deceroatres.org</h4>
        <span class="line"></span>
        <hr>
        <p>
          Es un espacio de aprendizaje sobre el desarrollo de nuestros hijos, desde el embarazo hasta los tres años, con el fin de fortalecer sus capacidades y la posibilidad de incidir en un futuro esperanzador.
        </p><br>

        <center>
          <a href="http://deceroatres.org/mapa-del-sitio/" class="btn btn-primary" target="_blank">Mapa del Sitio</a>
        </center>
      </div>

      <div class="col-md-4">
        <br>
        <h4 class="title">¿Por qué De Cero a Tres?</h4>
        <span class="line"></span>
        <hr>
        <center>
          <iframe width="300" height="197" src="https://www.youtube.com/embed/c5r8CWGRMlQ" frameborder="0" allowfullscreen></iframe>
        </center>
      </div>

      <div class="col-md-4">
        <br>
        <h4 class="title">Instituciones Aliadas</h4>
        <span class="line"></span>
        <hr>
        <center>
          <a href="http://www.proyectodei.org/" class="btn color" target="_blank">
            <img src="http://deceroatres.org/wp-content/uploads/2015/10/Captura-de-pantalla-2015-09-29-a-las-10.15.45.png" style="width:120px; height:95px;">
          </a><br><br>
          <a href="http://deceroatres.org/empresas-y-fundaciones-aliadas/" class="btn btn-primary" target="_blank"> Empresas aliadas</a></center>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <span class="copyright">Dirección: Santa Rita # 213, Col. Loma del Padre, Del. Cuajimalpa, C.P. 05020, México D.F.</span>
          <span class="copyright">Tel: +52 (55) 5813 0386 Mail: contacto@deceroatres.com</span><br>
        </div>

        <div class="col-md-2 col-md-offset-4">
          <a href="https://twitter.com/DeCeroATres"><img src="http://deceroatres.org/wp-content/themes/Crevision/images/icons/twitter.png" class="sm" alt=""></a>
          <a href="https://www.facebook.com/pages/De-Cero-a-Tres-Fundación/311990848883647?fref=ts"><img src="http://deceroatres.org/wp-content/themes/Crevision/images/icons/facebook.png" class="sm" alt=""></a>
          <a href="http://www.flickr.com/photos/94144868@N08/"><img src="http://deceroatres.org/wp-content/themes/Crevision/images/icons/flickr.png" class="sm" alt=""></a>
          <a href="http://deceroatres.org/feed/"><img src="http://deceroatres.org/wp-content/themes/Crevision/images/icons/rss.png" class="sm" alt=""></a>
        </div>
      </div>
    </div>
  </footer>
